.readContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    text-align: center;
}

.personTable th,
td {
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid rgb(174, 174, 174);
}

.personTable thead {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 100;
    font-size: 14px;
}

.personTable {
    border-collapse: collapse;
    background-color: rgb(234, 234, 234);
}

.deleteButton {
    border: none;
    background-color: transparent;
    margin-right: 20px;
}

.editButton {
    border: none;
    background-color: transparent;
}

.editForm {
    margin-bottom: 40px;
}

input {
    text-align: center;
}

.formEditButton {
    margin-top: 20px;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 5px;
    color: white;
}
